* {
  margin: 0;
  box-sizing: border-box;
  font-family: Gill Sans, sans-serif;
}

body {
  text-align: justify;
}

.mySlides {
  width: 100%;
  height: 650px;
  object-fit: cover;
  filter: brightness(50%);
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.875rem;
  background-color: #867d81;
}

h2 {
  margin-top: 2rem;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  margin-bottom: 1rem;
  background-color: #adbdbe;
  padding: 5px;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

#titulo {
  background-color: #fff;
  color: #0c2345;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
}

.image4-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  overflow: hidden
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  background-color: #adbdbe;
  color: #0c2345;
  height: 80px;
}

.description {
  font-size: 3rem;
  font-family: 'Andika New Basic', sans-serif;
}

.instructions-box {
  width: 95%;
  margin: auto;
}

#li {
  list-style-type: disc;
  margin-right: 20px;
}

.fontSize3 {
  font-size: 2rem;
  color: #0c2345;
}

.titleHelp {
  text-transform: uppercase;
}

.titleHelp, .titleQuestions, .question {
  color: #0c2345;
}

.titleQuestions,
.createPassword h2 {
  margin-bottom: 30px;
}

.question {
  border-bottom: 1px solid #836e6c;
  padding: 10px 0
}

.question input, .question .answer {
  display: none
}

.question label {
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  font-size: 2.5rem;
}

.question input:checked~.answer {
  display: block
}

#ajuda {
  background: linear-gradient(to top, #959797, #adbdbe, #fff);
  width: 100%;
  padding-bottom: 20px;
}

.ajuda {
  margin: auto;
  width: 95%;
}

.menuLink {
  font-weight: bold;
  text-decoration: none;
  color: #0c2345;
  font-size: 50px;
  text-transform: uppercase;
}

.menuLink:hover {
  color: #973427;
}

.answer {
  font-size: 2rem;
}

.container-sobre {
  width: 95%;
  margin: 25px auto auto auto;
}

#intro {
  position: absolute;
  top: 400px;
  color: aliceblue;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(43, 42, 42, 0);
  width: 80%;
  left: 90px;
  letter-spacing: 2px;
  font-size: 50px;
}

textarea, input {
  width: 60%;
  height: 6rem;
  border-radius: 5px;
  border: 3px solid #0c2345;
  margin: 1rem auto;
  font-size: 2.5rem;
  background-color: #adbdbe;
  padding-left: 15px;
  line-height: 6rem;
}

.botoes {
  display: flex;
  flex-wrap: nowrap;
}

.btnCreatePassword {
  width: 400px;
  height: 5rem;
  font-size: 2.5rem;
  margin-top: 2rem;
  border: none;
  background-color: #18606f;
  border-radius: 50px;
  font-weight: bolder;
  color: #adbdbe;
  margin-right: 20px;
}

.btnCreatePassword:hover {
  background-color: #11262b;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#decrypt {
  background-color: #b33e2e;
  color: black;
}

#decrypt:hover {
  background-color: #9a857d;
}

#encod {
  width: 100%;
}

.copyBtn-container {
  position: relative;
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  box-sizing: content-box;
}

#copyButton {
  height: 6rem;
  font-size: 2rem;
  border: none;
  width: 9rem;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 5px;
  position: absolute;
  top: 14px;
  right: -10rem;
  background-color: #867d81;
}

#copyButton:hover {
  background-color: rgb(219, 200, 150);
}

.lastImage {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin: auto;
}

.question.last {
  border-bottom: none;
}
